#SearchHeader { 
  position: absolute; 
  left: 30px; 
  top: 70px; 
  width: 240px;
  font-size: 24px; 
  text-align: center; 
  border-radius: 25px;

} 

#SearchMobileHeader { 
  position: absolute; 
  left: 70px; 
  top: 260px; 
  width: 240px;
  font-size: 24px; 
  text-align: center; 
  border-radius: 25px;

} 

#InformationPanelHeader {
  position: absolute;
  left: 1020px; 
  top: 70px; 
  width: 400px;
  font-size: 24px;
  border-radius: 25px;
}
